<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>订单维护</title>
		<link rel="stylesheet" type="text/css" href="plugins/layui-v2.5.6/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="./css/common.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1465230_x1cs9lb9rh.css"/>
		<style type="text/css">
			.order-detail>li{
				align-items: center;
			}
			
			.layui-form-select .layui-input{
				width: 100px;
				height: 32px;
			}
		</style>
	</head>
	<body>
		<script type="text/javascript" src="./js/header.js"></script>
		<div class="main-body1">
			<div class="main-container">
				<script type="text/javascript" src="./js/nav.js"></script>
				<div class="normal-right">
					<div class="flex-between">
						<div class="page-title">订单维护</div>
					</div>
					<div class="module-title flex-between">
						<span>订单号：{{orderId}}</span>
						<div class="flex c582 cursor" v-show="!edit" @click="edit = !edit">
							<i class="iconfont icon-edit c582"></i>
							编辑
						</div>
					</div>
					<ul class="order-detail layui-form">
						<li v-for="(item,key) in orderDetail">
							<div>{{key}}</div>
							<div>:</div>
							<div class="order-msg">
								<span v-show="editStatus(key)">{{item}}</span>
								<div v-show="key=='数量'&&edit" class="flex-center" style="align-items: center;">
									<input type="text" class="layui-input" style="margin-right: 10px;width: 60px;height: 28px;" v-model="num"/>
									台
								</div>
								<div v-show="key=='订单状态'&&edit" class="flex-center" style="align-items: center;">
									<select name="city" lay-filter="status" v-model="ordersStatus">
									  <option value="0">待支付</option>
									  <option value="1">待上架</option>
									  <option value="2">正常</option>
									  <option value="3">维护中</option>
									  <option value="4">已欠费</option>
									  <option value="5">已下架</option>
									  <option value="6">已删除</option>
									</select>
								</div>
								<div v-show="key=='服务截止'&&edit" class="flex-center">
									<input type="text" style="width: 80px;height: 28px;" class="layui-input" id="time">
								</div>
								<div v-show="key=='电费剩余'&&edit" class="flex-center" style="align-items: center;">
									<input type="text" class="layui-input" style="margin-right: 10px;width: 60px;height: 28px;" v-model="ordersElectricityFees"/>
									元
								</div>
							</div>
						</li>
						<div v-show="edit" style="margin-left: 70px;margin-top: 24px;">
							<button type="button" class="bg582 layui-btn" @click="save">保存</button>
							<button type="button" class="layui-btn" @click="cancel" style="color: #606266;background-color: #fff;border: 1px solid rgba(0,0,0,.15);">取消</button>
						</div>
					</ul>
					<div class="module-title flex-between">
						<div>矿机列表</div>
						<div class="flex detail-add">
							<i class="iconfont icon-add"></i>
							<div>新增</div>
						</div>
					</div>
					<div class="table-cont" style="margin-top: 24px;">
						<table class="layui-table" lay-even lay-skin="nob">
							 <thead>
									<tr>
										<th>机器ID</th>
										<th>所在机房</th>
										<th>状态</th>
										<th>操作</th>
									</tr> 
								</thead>
								<tbody>
									<tr v-for="item in order">
										<td>{{item.ordersMachineId}}</td>
										<td>{{item.ordersMachineWhere}}</td>
										<td>{{macStatus[item.ordersMachineStataus]}}</td>
										<td>
											<ul class="flex op">
												<li>编辑</li>
												<li>移除</li>
											</ul>
										</td>
									</tr>
								</tbody>
						</table>
						<div id="page"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script src="js/http.js" type="text/javascript" charset="utf-8"></script>
	<script src="./plugins/layui-v2.5.6/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		var VM = new Vue({
			el:'.main-body1',
			data:{
				orderId:'',
				edit:false,
				status:{
					'0':'待支付',
					'1':'待上架',
					'2':'正常',
					'3':'维护中',
					'4':'已欠费',
					'5':'已下架',
					'6':'已删除'
				},
				macStatus:{
					'1':'运行中',
					'2':'已停机',
					'3':'维护中'
				},
				orderDetail:{
					"客户邮箱": "344345@sina.com",
					"客户电话": "13585215754",
					"产品名": "易哈希",
					"数量": "100台",
					"下单时间": "2020-09-30 15:00",
					"订单状态": "上架中",
					"服务截止": "2022-10-10 15:00",
					"电费剩余": "509.2"
				},
				nav:[
					{icon:'iconfujian',name:'个人中心',link:'person.html',active:true},
					{icon:'iconfujian',name:'我的订单',link:'order.html',active:false},
					{icon:'iconfujian',name:'费用记录',link:'cost.html',active:false},
					{icon:'iconfujian',name:'工单列表',link:'repair.html',active:false},
					{icon:'iconfujian',name:'充值中心',link:'topUp.html',active:false},
					{icon:'iconfujian',name:'订单维护',link:'orderMan.html',active:false},
				],
				order:[],
				num:0,
				ordersElectricityFees:0,
				ordersServiceEnd:'',
				ordersStatus:1
			},
			
			methods:{
				search() {
					POST({orderId:this.orderId},'/order/order_detail',res => {
						let val = res.data;
						this.orderDetail = {
							"客户邮箱": val.userEmail,
							"客户电话": val.userTel,
							"产品名": val.productModelName,
							"数量": val.ordersProductCount + '台',
							"下单时间": val.ordersDownDate,
							"订单状态": this.status[val.ordersStatus],
							"服务截止": val.ordersServiceEnd,
							"电费剩余": val.ordersElectricityFees
						}
						this.num = val.ordersProductCount
						this.ordersElectricityFees = val.ordersElectricityFees
						this.ordersServiceEnd = val.ordersServiceEnd
						this.ordersStatus = val.ordersStatus
					})
					
					GET({ordersId:this.orderId},'/machine/list',res => {
						this.order = res.data
					})
				},
				editStatus(key) {
					let str = true
					if((key == '数量' || key == '订单状态' || key == '服务截至' || key == '电费剩余')&& this.edit ){
						str = false
					}
					
					return str;
				},
				cancel() {
					this.edit = false
				},
				save() {
					POST({
						ordersId:this.orderId,
						ordersElectricityFees:this.ordersElectricityFees,
						ordersProductCount:this.num,
						ordersServiceEnd:this.ordersServiceEnd,
						ordersStatus:this.ordersStatus
					},'/order/update_order',res => {
						this.search()
						this.edit = false
					})
				}
			},
			
			created() {
				this.nav.map(v => {
					if(v.name == document.title){
						v.active = true
					}else{
						v.active = false
					}
				})
				
				this.orderId = window.location.href.split('id=')[1]
				this.search()
			},
			
			mounted() {
				let _this = this;
				layui.use(['laypage', 'form', 'laydate'], function(){
				  var laypage = layui.laypage;
				  var form = layui.form;
					var laydate  = layui.laydate;
					
					laydate.render({
						elem: '#time'
						,type: 'datetime'
					});
					
					form.on('select(status)', data => {
					  _this.ordersStatus = data.value
					});
					
				  laypage.render({
				    elem: 'page' 
				    ,count: 50 
						,layout:['prev', 'page', 'next', 'limits', 'skip']
						,jump: function(obj, first){
						    //obj包含了当前分页的所有参数，比如：
						    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
						    console.log(obj.limit); //得到每页显示的条数
						    
						    //首次不执行
						    if(!first){
						      //do something
						    }
						  }
				  });
				});
			}
		})
	</script>
</html>
