<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ehash</title>
		<link rel="stylesheet" type="text/css" href="plugins/layui-v2.5.6/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="./css/common.css" />
		<link rel="stylesheet" type="text/css" href="./css/font_1465230_6hjw6lptphb/iconfont.css"/>
		<style type="text/css">
			.other-container{
				padding: 32px 72px;
			}
		</style>
	</head>
	<body>
		<script type="text/javascript" src="./js/header.js"></script>
		<div class="main-body1" v-cloak>
			<div style="height:30px"></div>
			<div class="other-container"> 
				<div class="flex-between">
					<div class="page-title fs16">选择套餐</div>
				</div>
				<ul class="pack-list">
					<li v-for="(item,index) in pack" class="cursor" :class="item.active?'active':''" @click="packChoose(index)">
						<div class="pack-top">
							<span class="pack-price" :class="item.active?'c582':''">{{item.productModelPice}}</span>
							<span class="pack-unit">元</span>
						</div>
						<div class="pack-name">{{item.productModelName}}</div>
						<img src="./img/gou.png" class="pack-check" v-show="item.active">
					</li>
				</ul>
				<div class="pack-detail">
					<div class="flex-between">
						<div class="pack-detail-item">
							<div>机型：</div>
							<div>{{productMiningName}}</div>
						</div>
						<div class="pack-detail-item">
							<div>算力：</div>
							<div>{{productModelRage}}TH/S</div>
						</div>
						<div class="pack-detail-item">
							<div>服务周期：</div>
							<div>{{productModelServiceTime}}天</div>
						</div>
					</div>
					<div class="pack-detail-item">
						<div>单价：</div>
						<div>{{productModelPice}}</div>
					</div>
					<div class="pack-detail-item">
						<div>数量：</div>
						<div class="flex" style="align-items: center;">
							<input type="text" v-model="num" class="layui-input" style="height: 28px; width: 60px;"/>
							<span style="margin-left: 5px;">台</span>
						</div>
					</div>
					<div class="pack-detail-item">
						<div>说明：</div>
						<div>付款3天内上架，该价格包含矿机产权和服务费</div>
					</div>
				</div>
				<div class="pack-price-all">
					<div class="flex">
						<div class="c666">产品费用：</div>
						<div class="c582">{{productTotalPice}}</div>
					</div>
				</div>
				<div class="flex-between">
					<div class="page-title fs16">预付电费</div>
				</div>
				<div class="flex pack-time-wrap">
					<div>预交电费：</div>
					<ul class="pack-time">
						<li v-for="(item,index) in time" class="cursor" @click="choose(index)" :class="item.active?'active c582':''">
							{{item.num}}天
							<img src="./img/gou.png" style="width: 24px;height: 24px;" class="pack-check" v-show="item.active">
						</li>
					</ul>
				</div>
				<div class="pack-time-detail">
					<!-- <div class="c666">0.0474/T/天 × 1000T ×60天</div> -->
					<div class="c999">电费计算公式：功率x24hx天数，当套餐电费剩余天数小于3小时，将自动停机。 </div>
					<div class="c999">电费最少需先预付30天</div>
				</div>
				<div class="pack-price-all">
					<div class="flex">
						<div class="c666">电费：</div>
						<div class="c582">{{powerTotalPice}}</div>
					</div>
				</div>
				<div class="computed">
					<ul>
						<li v-for="(item,key) in price">
							<div class="c666">{{key}}:</div>
							<div class="c582">{{item}}</div>
						</li>
					</ul>
				</div>
				<div class="flex-center">
					<button type="button" class="layui-btn bg582 order-add" @click="pay">提交订单</button>
				</div>
			</div>
			<div style="height: 72px;"></div>
		</div>
	</body>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script src="js/jwt.js" type="text/javascript" charset="utf-8"></script>
	<script src="./plugins/layui-v2.5.6/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/http.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/vue.min.js"></script>
	<script type="text/javascript">
		var head = new Vue({
			el:'.header-cont',
			data:{
				userName1:''
			},
			methods:{
				getUser(){
					GET({},'/user/get_own_info', res => {
						if(res.data.userEmail != ''){
							this.userName1 = res.data.userEmail
						}else{
							this.userName1 = res.data.userTel
						}
					})
				}
			},
			created() {
				this.getUser()
			},
			mounted() {
				
			}
		})
		var VM = new Vue({
			el:'.main-body1',
			data:{
				pack:[],
				time:[
					{num:30,active:true},
					{num:60,active:false},
					{num:90,active:false},
				],
				price:{
					'矿机及服务费':'1999.00',
					'预付电费':'666.00',
					'折扣':'-253.00',
					'应付总额':'2699.00'
				},
				productModelId:'',
				productMiningName:'',
				productModelRage:'',
				productModelServiceTime:0,
				productModelPice:0,
				num:1,
				day:30,
				productTotalPice:0,
				powerTotalPice:0
			},
			
			methods:{
				search() {
					GET({},'/pub/product_model',res => {
						this.pack = res.data
						this.pack.map((v,i) => {
							if(i == 0){
								v.active = true
								this.productMiningName=v.productMiningName;
								this.productModelRage=v.productModelRage;
								this.productModelServiceTime=v.productModelServiceTime;
								this.productModelPice =	v.productModelPice;
								this.productModelId = v.productModelId
							}else{
								v.active = false
							}
						})
						this.calc()
					})
				},
				packChoose(index) {
					this.pack.map((v,i) => {
						if(i == index){
							v.active = true
							// this.calc(v.num)
							this.productMiningName=v.productMiningName;
							this.productModelRage=v.productModelRage;
							this.productModelServiceTime=v.productModelServiceTime;
							this.productModelPice =	v.productModelPice;
							this.productModelId = v.productModelId
						}else{
							v.active = false
						}
					})
					this.calc()
				},
				choose(val) {
					this.time.map((v,i) => {
						if(i == val){
							v.active = true
							this.day = v.num
						}else{
							v.active = false
						}
					})
					this.calc()
				},
				calc() {
					POST({
						productModelId:this.productModelId,
						productModelPowerDayCount:this.day,
						productModelcount:this.num
					},'/order/calculate_the_price',res => {
						this.productTotalPice = res.data.productTotalPice
						this.powerTotalPice = res.data.powerTotalPice
						this.price = {
							'矿机及服务费':this.productTotalPice,
							'预付电费':this.powerTotalPice,
							'折扣':res.data.allowance,
							'应付总额':res.data.ordersPice
						}
					})
				},
				pay() {
					POST({
						productModelId:this.productModelId,
						productModelPowerDayCount:this.day,
						productModelcount:this.num
					},'order/place_order',res => {
						if(res.data.placeOrderStatus == 1){
							window.location.href = 'order.html'
						}else if(res.data.placeOrderStatus == 2){
							layer.msg('余额不足')
						}else if(res.data.placeOrderStatus == 3){
							layer.msg('库存不足')
						}else{
							layer.msg('下单失败')
						}
					})
				}
			},
			
			watch:{
				num() {
					this.calc()
				}
			},
			
			created() {
				this.search()
			},
			
			mounted() {
				$('.menu>li:first-child').attr('class','')
				$('.menu>li:nth-child(2)').attr('class','active')
			}
		})
		
		$('.login-out').click(() => {
			console.log(123)
			let name = $('.head-user').text()
			GET({
				userName: name
			}, '/pub/out', res => {
				if (res.code == 200) {
					window.localStorage.removeItem('Authorization')
					window.location.href = 'index.html'
				}
			})
		})
	</script>
</html>
