<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="plugins/layui-v2.5.6/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="./css/common.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1465230_x1cs9lb9rh.css"/>
	</head>
	<body>
		<script type="text/javascript" src="./js/header.js"></script>
		<div class="main-body1">
			<div class="main-container">
				<script type="text/javascript" src="./js/nav.js"></script>
				<div class="normal-right">
					<div class="page-title">个人中心</div>
					<ul class="person-top">
						<li v-for="item in personData" :style="{'background':item.bg}">
							<img :src="item.icon" >
							<div class="person-top-name">
								<div>{{item.num}}</div>
								<div>{{item.name}}</div>
							</div>
						</li>
					</ul>
					<div class="main-item">
						<div class="main-item-top flex-between">
							<div class="main-item-title">我的订单</div>
							<a class="main-item-more" href="#">更多></a>
						</div>
						<div class="table-cont">
							<table class="layui-table"  lay-skin="nob">
							   <thead>
							      <tr>
							        <th>订单号</th>
							        <th>型号</th>
							        <th>状态</th>
							        <th>充值</th>
							        <th>数量(台)</th>
							        <th>金额</th>
							      </tr> 
							    </thead>
									<tbody>
										<tr v-for="item in order">
											<td>{{item.ordersId}}</td>
											<td>{{item.productModelName}}</td>
											<td>{{status[item.ordersStatus]}}</td>
											<td>{{item.ordersDownIp}}</td>
											<td>{{item.ordersProductCount}}</td>
											<td>{{item.ordersPice}}</td>
										</tr>
									</tbody>
							</table>
						</div>
					</div>
					<div class="main-item">
						<div class="main-item-top flex-between">
							<div class="main-item-title">费用记录</div>
							<a class="main-item-more" href="#">更多></a>
						</div>
						<div class="table-cont">
							<table class="layui-table" lay-skin="nob">
							   <thead>
							      <tr>
							        <th>费用编号</th>
							        <th>关联订单</th>
							        <th>项目</th>
							        <th>时间</th>
							        <th>金额</th>
							        <th>订单余额</th>
							      </tr> 
							    </thead>
									<tbody>
										<tr v-for="item in fee">
											<td>{{item.userAccountChangeId}}</td>
											<td>{{item.userAccountChangeObjId}}</td>
											<td>{{type[item.userAccountChangeType]}}</td>
											<td>{{item.userAccountChangeTime}}</td>
											<td>{{item.userAccountChangeMoney}}</td>
											<td>{{item.userAccountChangeAfter}}</td>
										</tr>
									</tbody>
							</table>
						</div>
					</div>
					<div class="main-item">
						<div class="main-item-top flex-between">
							<div class="main-item-title">工单列表</div>
							<a class="main-item-more" href="#">更多></a>
						</div>
						<div class="table-cont">
							<table class="layui-table" lay-even lay-skin="nob">
							   <thead>
							      <tr>
							        <th>工单号</th>
							        <th>主题</th>
							        <th>类型</th>
							        <th>时间</th>
							        <th>状态</th>
							      </tr> 
							    </thead>
									<tbody>
										<tr v-for="item in order">
											<td>{{item.id}}</td>
											<td>{{item.type}}</td>
											<td>{{item.status}}</td>
											<td>{{item.pay}}</td>
											<td>{{item.num}}</td>
										</tr>
									</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script src="./plugins/layui-v2.5.6/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/http.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		var VM = new Vue({
			el:'.main-body1',
			data:{
				nav:[
					{icon:'iconfujian',name:'个人中心',link:'person.html',active:true},
					{icon:'iconfujian',name:'我的订单',link:'order.html',active:false},
					{icon:'iconfujian',name:'费用记录',link:'cost.html',active:false},
					{icon:'iconfujian',name:'工单列表',link:'repair.html',active:false},
				],
				personData:[
					{icon:'./img/person1.png',num:0,name:'矿机总数',bg:'#E4FAF4'},
					{icon:'./img/person2.png',num:0,name:'离线矿机',bg:'#FDEBF7'},
					{icon:'./img/person3.png',num:0,name:'欠费订单',bg:'#E8F0FF'},
					{icon:'./img/person4.png',num:0,name:'TH/s 总算力',bg:'#FEECDE'},
				],
				order:[],
				fee:[],
				status:{
					'0':'待支付',
					'1':'待上架',
					'2':'正常',
					'3':'维护中',
					'4':'已欠费',
					'5':'已下架',
					'6':'已删除'
				},
				type:{
					'1':'下单',
					'2':'充值电费',
					'3':'服务费',
					'4':'维护费',
					'9':'账户充值'
				}
			},
			methods:{
				search(){
					GET({},'/user/get_own_center', res => {
						this.order = res.data.orderList
						this.fee = res.data.accountChangesList
						this.personData[0].num = res.data.miningCount
						this.personData[1].num = res.data.miningOffline
						this.personData[2].num = res.data.arrearsOrder
						this.personData[3].num = res.data.rangeCount
					})
				},
				getWord(){
					GET({},'/work_order/list_own_orders', res => {
						console.log(res)
					})
				}
			},
			created() {
				this.nav.map(v => {
					if(v.name == document.title){
						v.active = true
					}else{
						v.active = false
					}
				})
				
				this.search()
				this.getWord()
			},
			mounted() {
				
			}
		})
	</script>
</html>
