<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="plugins/layui-v2.5.6/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="./css/common.css" />
		<link rel="stylesheet" type="text/css" href="./css/font_1465230_6hjw6lptphb/iconfont.css"/>
	</head>
	<body>
		<script type="text/javascript" src="./js/header.js"></script>
		<div class="main-body1" v-cloak>
			<div class="main-container">
				<script type="text/javascript" src="./js/nav.js"></script>
				<div class="normal-right">
					<div class="page-title">个人中心</div>
					<ul class="person-top">
						<li v-for="item in personData" :style="{'background':item.bg}">
							<img :src="item.icon" >
							<div class="person-top-name">
								<div>{{item.num}}</div>
								<div>{{item.name}}</div>
							</div>
						</li>
					</ul>
					<div class="main-item">
						<div class="main-item-top flex-between">
							<div class="main-item-title">我的订单</div>
							<a class="main-item-more" href="order.html">更多></a>
						</div>
						<div class="table-cont">
							<table class="layui-table" lay-skin="line" lay-size="lg">
							   <thead>
							      <tr>
							        <th>订单号</th>
							        <th>型号</th>
							        <th>状态</th>
							        <!-- <th>充值</th> -->
							        <th>数量(台)</th>
							        <th>金额</th>
							      </tr> 
							    </thead>
									<tbody>
										<tr v-for="item in order">
											<td>
												<a :href="'orderDetail.html?id='+item.ordersId" class="c582">
													{{item.ordersId}}
												</a>
											</td>
											<td>{{item.productModelName}}</td>
											<td>{{status[item.ordersStatus]}}</td>
											<!-- <td>{{item.ordersDownIp}}</td> -->
											<td>{{item.ordersProductCount}}</td>
											<td>{{item.ordersPice}}</td>
										</tr>
									</tbody>
							</table>
						</div>
					</div>
					<div class="main-item">
						<div class="main-item-top flex-between">
							<div class="main-item-title">费用记录</div>
							<a class="main-item-more" href="cost.html">更多></a>
						</div>
						<div class="table-cont">
							<table class="layui-table" lay-skin="line" lay-size="lg">
							   <thead>
							      <tr>
							        <th>费用编号</th>
							        <th>关联订单</th>
							        <th>项目</th>
							        <th>时间</th>
							        <th>金额</th>
							        <th>订单余额</th>
							      </tr> 
							    </thead>
									<tbody>
										<tr v-for="item in fee">
											<td class="c582">{{item.userAccountChangeId}}</td>
											<td>{{item.userAccountChangeObjId}}</td>
											<td>{{type[item.userAccountChangeType]}}</td>
											<td>{{item.userAccountChangeTime}}</td>
											<td>{{item.userAccountChangeMoney}}</td>
											<td>{{item.userAccountChangeAfter}}</td>
										</tr>
									</tbody>
							</table>
						</div>
					</div>
					<div class="main-item">
						<div class="main-item-top flex-between">
							<div class="main-item-title">工单列表</div>
							<a class="main-item-more" href="repair.html">更多></a>
						</div>
						<div class="table-cont" id="table-cont">
							<!-- <table class="layui-table" lay-skin="line" lay-size="lg">
							   <thead>
							      <tr>
							        <th>工单号</th>
							        <th>主题</th>
							        <th>类型</th>
							        <th>时间</th>
							        <th>状态</th>
							      </tr> 
							    </thead>
									<tbody>
										<tr v-for="item in order">
											<td>{{item.id}}</td>
											<td>{{item.type}}</td>
											<td>{{item.status}}</td>
											<td>{{item.pay}}</td>
											<td>{{item.num}}</td>
										</tr>
									</tbody>
							</table> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script src="js/jwt.js" type="text/javascript" charset="utf-8"></script>
	<script src="./plugins/layui-v2.5.6/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/http.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/vue.min.js"></script>
	<script type="text/javascript">
		var head = new Vue({
			el:'.header-cont',
			data:{
				userName1:''
			},
			methods:{
				getUser(){
					GET({},'/user/get_own_info', res => {
						if(res.data.userEmail != ''){
							this.userName1 = res.data.userEmail
						}else{
							this.userName1 = res.data.userTel
						}
					})
				}
			},
			created() {
				this.getUser()
			},
			mounted() {
				
			}
		})
		var VM = new Vue({
			el:'.main-body1',
			data:{
				nav:[
					{icon:'./img/person',name:'个人中心',link:'person.html',active:true},
					{icon:'./img/person1',name:'我的订单',link:'order.html',active:false},
					{icon:'./img/person2',name:'费用记录',link:'cost.html',active:false},
					{icon:'./img/person3',name:'工单列表',link:'repair.html',active:false},
					{icon:'./img/person4',name:'充值中心',link:'topUp.html',active:false},
					{icon:'./img/person5',name:'订单维护',link:'orderMan.html',active:false},
				],
				personData:[
					{icon:'./img/person6.png',num:0,name:'矿机总数',bg:'#E4FAF4'},
					{icon:'./img/person7.png',num:0,name:'离线矿机',bg:'#FDEBF7'},
					{icon:'./img/person8.png',num:0,name:'欠费订单',bg:'#E8F0FF'},
					{icon:'./img/person9.png',num:0,name:'TH/s 总算力',bg:'#FEECDE'},
				],
				order:[],
				fee:[],
				status:{
					'0':'待支付',
					'1':'待上架',
					'2':'正常',
					'3':'维护中',
					'4':'已欠费',
					'5':'已下架',
					'6':'已删除'
				},
				type:{
					'1':'下单',
					'2':'充值电费',
					'3':'服务费',
					'4':'维护费',
					'9':'账户充值'
				},
				userName:'',
			},
			methods:{
				getUser(){
					GET({},'/user/get_own_info', res => {
						if(res.data.userEmail != ''){
							$('.user-name').html(res.data.userEmail)
						}else{
							$('.user-name').html(res.data.userTel)
						}
					})
				},
				search(){
					GET({},'/user/get_own_center', res => {
						this.order = res.data.orderList
						this.fee = res.data.accountChangesList
						this.personData[0].num = res.data.miningCount
						this.personData[1].num = res.data.miningOffline
						this.personData[2].num = res.data.arrearsOrder
						this.personData[3].num = res.data.rangeCount
					})
				},
				getWord(){
					GET({},'/work_order/list_own_orders', res => {
						console.log(res)
					})
				}
			},
			created() {
				let user 
				if(window.localStorage.getItem('Authorization')){
					user = getUserjwt(window.localStorage.getItem('Authorization'))
					this.nav = JSON.parse(user.menu)
				}
				console.log(user)
				this.getUser()
				this.userName = user.username
				this.nav.map(v => {
					if(v.name == document.title){
						v.active = true
					}else{
						v.active = false
					}
				})
				
				
				this.search()
				this.getWord()
			},
			mounted() {
				$('.user-name').html(this.userName)
				let _this = this;
				POST({},'/work_order/get_token',res => {
					(function () {
					
					        var token = _this.userName;
									console.log(token)
					        var scriptDom = document.createElement("script");
					        scriptDom.src = "https://assets-cli.s4.udesk.cn/ticket_js_sdk/static/vendor/js/jquery.min.js?t=" + token;
					        document.body.appendChild(scriptDom);
					        var scriptDom = document.createElement("script");
					        scriptDom.src = "https://assets-cli.s4.udesk.cn/ticket_js_sdk/1.0.1/js/sdk.min.js?t=" + token;
					        document.body.appendChild(scriptDom);
					        var styleDom = document.createElement("link");
					        styleDom.rel = "stylesheet";
					        styleDom.href = "https://assets-cli.s4.udesk.cn/ticket_js_sdk/1.0.1/css/sdk.min.css?t=" + token;
					        document.body.appendChild(styleDom);
					        scriptDom.addEventListener('load', function () {
					            var udesk = UdeskSDK.ticketSDK.init({
					                // [Required] Must provide subdomain.
					                subdomain: 'ehash.s4.udesk.cn',
					                // [Required] Must provide client appId.
					                appid: 'f90fa445e8b68177',
					                // [Required] Must provide signature.
					                signature: res.data,
					                // [Required] Must provide type.
					                type: "token",
					                // [Required] Must provide content.
					                content: token,
					                theme: "default",
					                lang: "ZH-CN"
					            });
					            // Your code goes here...
					
					
					            udesk.create({
												 container: document.getElementById('table-cont'),
					                type: 'list',
					                height: "100%",
					                width: "100%"
					            });
					
					
					        }, false);
					
					
					    })();
				})
			}
		})
		
		$('.login-out').click(() => {
			console.log(123)
			let name = $('.head-user').text()
			GET({
				userName: name
			}, '/pub/out', res => {
				if (res.code == 200) {
					window.localStorage.removeItem('Authorization')
					window.location.href = 'index.html'
				}
			})
		})
	</script>
</html>
